h1 {
  font-size: 50px;
  font-weight: 800;
  background-image: url(/test_ad_site/ofelia4h1.jpg);
  background-size: auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
